body {
    background: #ffffff;
    color: #282828;
    font-family: "owners", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.wavy-line {
    --s: 5px; /* size of the wave */
    --b: 2px; /* thickness of the line */
    --m: 1; /* curvature of the wave [0 2] */
    
    opacity: 100;
    background: #000000;
    --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
    height: calc(2*var(--R));
    width: 100%;
    --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
    calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
    50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

.paragraph{
    font-size: 24px;
}

.subTitle{
    font-size: 64px;
    font-weight: 700;
}

.col-3 img{
    object-fit: scale-down;
    height: 300px;
    width: 100%;
}

.card-body {
    font-size: 13pt;
    font-weight: 500;
    padding:0;
}

.caption{
    font-size: 8pt;
    font-weight: 400;
}


.navbar-brand{
    color: #282828;
    font-size: 40px;
    font-weight: 500;
    padding-left: 5px;
}

.navbar-brand:hover{
    text-decoration: none;
}

.nav-link{
    color: #282828;
}

.nav-link:hover{
    text-decoration: none;
    color: #23E070;
    transition: 0.2s;
}

.nav-item{
    font-size: 24px;
    padding: 0 50px;
}

.homeNav{
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding: 10px 50px 10px 50px;
}


.homeNav a{
    font-size: 128px;
    text-decoration: none;
    color: #282828;
}

a:hover{
    color: #23E070;
    text-decoration: underline;
    transition: 0.2s;
}

.dash{
    font-size: 128px;
    color: #282828;
}

.arrivalsTicker{
    overflow: hidden;
    width: 100%;
    background-color: #23E070;
    padding: 12px 0;
    
}

.countdownTicker{
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    padding: 12px 0;
    
}

.tickerItems{
    display: flex;
    width: max-content;
    animation: ticker-scroll 25s linear infinite
}

.tickerItems h3{
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #282828;
    margin: 2.5px 0 ;
    padding: 0 50px;
    position: relative;
}

.borderBlack{
    color: #282828;
}

.btn-sml{
    background-color:#23E070;
}

.btn-sml:hover{
    color: #ffffff;
    background-color:#0D843D;
    transition: 0.2s; 
}

.btn-lg{
    background-color:#23E070;
}

.btn-lg:hover{
    color: #ffffff;
    background-color:#0D843D;
    transition: 0.2s;
}

.countdown h1{
    font-size: 128pt;
    font-weight: 500;
}

.countdown p{
    font-size: 24pt;
}

.footerText{
    font-size: 16pt;
    text-decoration: none;
    color: #282828;
}

.footerText :hover{
    text-decoration: none;
    color: #23E070;
    transition: 0.2s;
}

.restoreText{
    font-size: 22vw;
    font-weight: 700;
    line-height: 0.8;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

.restoreText span:hover{
    color: #23E070;
    transition: 0.4s;
    cursor:default;
}

.megaMenu {
    font-size: 24px;
    left: 0;
    right: 0;
    top: 100%;
    padding: 30px 100px;
}

.megaMenu a:hover{
    text-decoration: none;
    background-color: white;
    color: #23E070;
    transition: 0.2s;
}

.brand-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 300px;
}

.brand-letters a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.brand-letters a:hover {
    color: #23E070;
    transition: 0.2s;
}


@keyframes ticker-scroll{
    0%{
        transform: translateX();
    }
    100%{
        transform: translateX(-50%);
    }
}



/* Font sizes

Owners XLight
font-family: "owners", sans-serif;
font-weight: 200;
font-style: normal;

Owners XLight Italic
font-family: "owners", sans-serif;
font-weight: 200;
font-style: italic;

Owners Light
font-family: "owners", sans-serif;
font-weight: 300;
font-style: normal;

Owners Light Italic
font-family: "owners", sans-serif;
font-weight: 300;
font-style: italic;

Owners Regular
font-family: "owners", sans-serif;
font-weight: 400;
font-style: normal;

Owners Italic
font-family: "owners", sans-serif;
font-weight: 400;
font-style: italic;

Owners Medium
font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;

Owners Medium Italic
font-family: "owners", sans-serif;
font-weight: 500;
font-style: italic;

Owners Bold
font-family: "owners", sans-serif;
font-weight: 700;
font-style: normal;

Owners Bold Italic
font-family: "owners", sans-serif;
font-weight: 700;
font-style: italic;

Owners Black
font-family: "owners", sans-serif;
font-weight: 800;
font-style: normal;

Owners Black Italic
font-family: "owners", sans-serif;
font-weight: 800;
font-style: italic;

Owners XBlack
font-family: "owners", sans-serif;
font-weight: 900;
font-style: normal;

Owners XBlack Italic
font-family: "owners", sans-serif;
font-weight: 900;
font-style: italic;

*/