/* -----------------------
General Styles
----------------------- */
body {
    background: #ffffff;
    color: #282828;
    font-family: "owners", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.flip{
    transform: scaleX(-1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 3%;
}

.dash{
    font-size: 128px;
    color: #282828;
}

.currentTab{
    background-color: #23E070;
}

.smallImage{
    padding: 12% !important;
}

.dropdown a:hover{
    color: #23E070;
    background-color: #ffffff;
}

.dropdown-toggle{
    font-size: 16pt;
}

.hoverGreen:hover{
    color: #23E070;
    scale: calc(1.08);
}

.bg-white:hover{
    color: #23E070 !important;
    background-color: #f4f4f4 !important;
}

.wavy-line {
    --s: 5px; /* size of the wave */
    --b: 2px; /* thickness of the line */
    --m: 1; /* curvature of the wave [0 2] */
    
    opacity: 100;
    background: #000000;
    --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
    height: calc(2*var(--R));
    width: 100%;
    --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
    calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
    50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

.pageTitle{
    font-size: 128px;
    color: #282828;
    padding: 10px 50px 10px 50px;
}

.paragraph{
    font-size: 24px;
}

.subTitle{
    font-size: 64px;
    font-weight: 700;
}

.col-3 img{
    object-fit:contain;
    height: 300px;
    width: 100%;
}

.card-body {
    font-size: 13pt;
    font-weight: 500;
    padding:0;
}

.caption{
    font-size: 10pt;
    font-weight: 400;
}

.btn-sml{
    background-color:#23E070;
}

.btn-sml:hover{
    color: #ffffff;
    background-color:#0D843D;
    transition: 0.2s; 
}

.btn-lg{
    padding: 1%;
    background-color:#23E070;
}

.btn-lg:hover{
    color: #ffffff;
    background-color:#0D843D;
    transition: 0.2s;
}


/* -----------------------
Coutdown Styles
----------------------- */
.countdown h1{
    font-size: 128pt;
    font-weight: 500;
}

.countdown p{
    font-size: 24pt;
}


/* -----------------------
Navbar Styles 
----------------------- */
.navbar{
    background-color: #ffffff;
}

.navbar-brand{
    color: #282828;
    font-size: 40px;
    font-weight: 500;
    padding-left: 5px;
}

.navbar-brand:hover{
    text-decoration: none;
}

.nav-link{
    color: #282828;
}

.nav-link:hover{
    text-decoration: none;
    color: #23E070;
    transition: 0.2s;
}

.nav-item{
    font-size: 24px;
    padding: 0 50px;
}

.megaMenu {
    font-size: 24px;
    left: 0;
    right: 0;
    top: 100%;
    padding: 30px 100px;
}

.megaMenu a:hover{
    text-decoration: none;
    background-color: white;
    color: #23E070;
    transition: 0.2s;
    transform: scale(1.10);
}

.allBrands {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 300px;
}

.allBrands a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.allBrands a:hover {
    color: #23E070;
    transition: 0.2s;
    transform: scale(1.40);
}


/* -----------------------
Animation Styles
----------------------- */
img:hover{
    scale: calc(1.10);
    transition: 0.5s;
}


/* -----------------------
Home Quick links Styles
----------------------- */
.homeNav{
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding: 10px 50px 10px 50px;
}

.homeNav a{
    font-size: 128px;
    text-decoration: none;
    color: #282828;
}

.homeNav a:hover{
    color: #23E070;
    text-decoration: underline;
}


/* -----------------------
Dynamic Bar Styles 
----------------------- */
.arrivalsTicker{
    overflow: hidden;
    width: 100%;
    background-color: #23E070;
    padding: 12px 0;
    
}

.countdownTicker{
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    padding: 12px 0;
    
}

.tickerItems{
    display: flex;
    width: max-content;
    animation: ticker-scroll 25s linear infinite
}

.tickerItems h3{
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #282828;
    margin: 2.5px 0 ;
    padding: 0 50px;
    position: relative;
}

@keyframes ticker-scroll{
    0%{
        transform: translateX();
    }
    100%{
        transform: translateX(-50%);
    }
}


/* -----------------------
Footer Styles
----------------------- */
.footerText{
    font-size: 16pt;
    text-decoration: none;
    color: #282828;
}

.footerText:hover{
    text-decoration: none;
    color: #23E070;
    transition: 0.2s;
}

.restoreText{
    font-size: 22vw;
    font-weight: 700;
    line-height: 0.8;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

.restoreText span:hover{
    color: #23E070;
    transition: 0.4s;
    cursor:default;
    transform: scale(1.06);
}


/* -----------------------
Product Page Styles
----------------------- */
.productCard {
    min-height: 650px;
}

.productImg {
    height: 320px;
    object-fit: contain;
    padding-bottom: 2000px;
}

.addBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid black;
    background: #20e070;
    font-size: 35px;
    line-height: 1;
}

.addBtn:hover{
    background-color:#0D843D;
    color: #ffffff;
    transition: 0.2s;
    scale: calc(1.08);
}

.productName {
    font-size: 28px;
    font-weight: 500;
    padding-top: 15px;
}

.lowest {
    color: #20e070;
    font-size: 20px;
}

.price {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.lastSale{
    color: #666;
}

.pageNum a{
    text-decoration: none;
    color: #282828;
    margin-right: 50px;
}

.pageNum a:hover{
    color:#23E070;
    transition: 0.2s;
    scale: calc(1.10);
}

.currentNum h2{
    color: #23E070;
}


/* -----------------------
Product Page Styles
----------------------- */
.pricePage {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.productPageImg{
    height: 500px;
    width: 800px;
    object-fit:contain;
}

.productPageImg:hover{
    scale: calc(1);
}

.viewAll{
    color: #222;
}

.sizes{
    overflow: scroll;
    width: 500px;
}

.sizeBtn{
    background: none;
    border: none;
    font-size: 45px;
    line-height: 1;
}


/* Font Sizes

Owners XLight
font-family: "owners", sans-serif;
font-weight: 200;
font-style: normal;

Owners XLight Italic
font-family: "owners", sans-serif;
font-weight: 200;
font-style: italic;

Owners Light
font-family: "owners", sans-serif;
font-weight: 300;
font-style: normal;

Owners Light Italic
font-family: "owners", sans-serif;
font-weight: 300;
font-style: italic;

Owners Regular
font-family: "owners", sans-serif;
font-weight: 400;
font-style: normal;

Owners Italic
font-family: "owners", sans-serif;
font-weight: 400;
font-style: italic;

Owners Medium
font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;

Owners Medium Italic
font-family: "owners", sans-serif;
font-weight: 500;
font-style: italic;

Owners Bold
font-family: "owners", sans-serif;
font-weight: 700;
font-style: normal;

Owners Bold Italic
font-family: "owners", sans-serif;
font-weight: 700;
font-style: italic;

Owners Black
font-family: "owners", sans-serif;
font-weight: 800;
font-style: normal;

Owners Black Italic
font-family: "owners", sans-serif;
font-weight: 800;
font-style: italic;

Owners XBlack
font-family: "owners", sans-serif;
font-weight: 900;
font-style: normal;

Owners XBlack Italic
font-family: "owners", sans-serif;
font-weight: 900;
font-style: italic;
----------------------- */